@import 'master.css';

.container {
  flex-direction: column;
}

.textbox {
  width: 778px;
  margin: auto;
  margin-bottom: 5px;
  color: #a6a6a6;
  border: 2px solid #d6d6d6;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #F9F9F9;
  cursor: text;
  height: 50px;
  line-height: 46px;
  font-size: 14px;
}

.titlebox {
  width: 780px;
  margin: auto;
  font-weight: bold;
  color: #292929;
  font-size: 22px;
  border: 1px solid #d6d6d6;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.content {
  width: 778px;
  margin: auto;
  margin-top: 3px;
  border: 1px solid;
  border-color: gray;
  border-bottom-color: gray;
  box-sizing: border-box;
}

.content td {
  padding: 10px 0px 0px 20px;
}

.content .endline {
  border-bottom: 1px solid gray;
  color: gray;
}

.content .detail {
  color: gray;
}

.content .posttitle {
  font-weight: bold;
  font-size: 15px;
  color: black;
  font-style: none;
}

.contenttitle {
  margin-top: 15px;
  margin-left: 30px;
  width: 70%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-bottom: 0;
  resize: none;
}

.contentbox {
  margin-left: 30px;
  width: 70%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  resize: none;
}

.subtn {
  background: none;
  border: none;
  padding: 7px 12px;
  background-color: white;
  border: 1px solid #C62917;
  color: #C62917;
  border-radius: 10px;
  font-weight: 700;
  font-size: 0.7em;
  cursor: pointer;
  margin-left: 950px;
}

.articles {
  margin: auto;
  width: 778px;
  border: 1px solid #d6d6d6;
  border-top: 0;
}

.article {
  border-top: 1px solid #d6d6d6;
  display: flex;
  padding: 15px;
  color: #666;
}

.article-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.article-title {
  margin-bottom: 5px;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: normal;
  color: #292929;
}

.article-content {
  margin-bottom: 5px;
  max-height: 30px;
  line-height: 15px;
  white-space: normal;
  overflow: hidden;
  color: #a6a6a6;
  font-size: 12px;
}

.writer-id {
  max-width: 90px;
  height: 15px;
  line-height: 15px;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0;
  color: #292929;
}

.fa-eye {
  color: #C62917;
  font-size: 12px;
}

.fa-comment {
  color: #0ca5af;
  font-size: 12px;
}

.article-sub {
  margin-top: auto;
}

.searchInput {
  display: flex;
  width: 230px;
  margin-left: 23px;
  margin-top: 5px;
  padding: 8px 25px 5px 5px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
}

.postSelect {
  margin-right: 5px;
  height: 19px;
  line-height: 19px;
  border: 0;
  color: #737373;
  font-size: 12px;
  background-color: transparent;
  outline: none;
  vertical-align: middle;
}

.search {
  height: 19px;
  line-height: 19px;
  border: 0;
  width: 130px;
  color: #292929;
  font-size: 14px;
  outline: none;
}

.searchBtn {
  width: 19px;
  height: 19px;
  margin-left: 7px;
}

.file-upload {
  display: none;
}

.file-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: auto;
  margin-left: 15px;
}

.file-image {
  width: 25px;
  height: 25px;
  margin-top: 8px;
}

#postform {
  display: flex;
  flex-direction: column;
  width: 780px;
  box-sizing: border-box;
  margin: auto;
  border: 2px solid #a6a6a6;
  margin-bottom: 5px;
}

.new-content {
  border: 0;
  color: #292929;
  font-size: 14px;
  resize: none;
  padding: 15px;
  border: 0;
  border-bottom: 1px solid #e3e3e3;
  box-sizing: border-box;
  height: 350px;
  width: 100%;
  outline: none;
  position: relative;
}

.textarea {
  position: relative;
}

.new-title {
  padding: 15px;
  color: #292929;
  height: 20px;
  line-height: 20px;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #e3e3e3;
  outline: none;
}

.warning {
  color: #C62917;
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-size: 12px;
}

.unseen {
  display: none !important; 
}

.new-btn {
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: #C62917
}

.new-option {
  width: 100%;
  display: flex;
}

.board-bottom {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: 1px solid #C62917;
  color: #C62917;
  padding: 3px 5px;
  line-height: 25px;
  border-radius: 5px;
  height: 25px;
  margin-right: 2px;
  cursor: pointer;
}

.page-btn {
  padding: 3px 8px;
  height: 33px;
  box-sizing: border-box;
}

.page-btns {
  margin-top: 5px;
  display: flex;
}

.next-page {
  /* margin: 5px 23px 0 auto; */
  font-size: 14px;
  margin-top: 5px;
  margin-right: 23px;
}

.current-btn {
  font-weight: bold;
  border: 2px solid #C62917;
  line-height: 24px;
}

.prev-page {
  margin: 5px 23px 0;
  font-size: 14px;
}

.invisible {
  opacity: 0;
  cursor: default;
}

.time {
  font-size: 11px;
  color: #a6a6a6;
}

.board-type {
  font-size: 11px;
  color: #a6a6a6;
  margin:
}
.user-info {
  display: flex;
  flex-direction: column;
}

.profile-photo {
  width:20px;
  height:20px;
  margin: 0 5px 5px 0;
  border-radius:4px;
}

.user {
  display: flex;
}