body {
  display: flex;
  background-color: #f8f8f8;
}

.error-form {
  margin: auto;
  border: 1px solid #C62719;
  padding: 100px 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.logo {
  width: 50px;
  height: 50px;
  margin: auto;
}

.message1 {
  margin: auto;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

.message2 {
  margin: auto;
  margin-top: 10px;
  font-size: 16px;
}

.message3 {
  margin: auto;
  margin-top: 10px;
  font-size: 16px;
}

.btn {
  background: none;
  background-color: #C62718;
  border: 0;
  margin: 20px auto;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
}