.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #d6d6d6;
  background-color: #f9f9f9;
}

.my-card {
  width: 175px;
  height: 217px;
}

.my-card * {
  margin: auto;
}

.profile {
  height: 60px;
  width: 60px;
  margin: 30px auto 10px;
  border-radius: 6px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.dept {
  font-size: 12px;
  color: #a6a6a6;
  margin-top: 10px;
}

.buttons a {
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  color: #737373;
  font-size: 13px;
  line-height: 25px;
  padding: 4px 10px;
  text-decoration: none;
  margin-right: 3px;
}

.mymenu {
  margin-top: 5px;
  width: 175px;
  height: 82px;
}

.mymenu a {
  display: block;
  text-align: center;
  padding: 10px 37px 10px 0px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #4c4c4c;
  border-bottom: 1px solid #e3e3e3;
  box-sizing: border-box;
}

.mycomment {
  border-bottom: none;
}

.fa-list-ul {
  color: #3C87FF;
  font-size: 12px;
  margin-right: 10px;
}

.fa-comment {
  color: #78D473;
  font-size: 12px;
  margin-right: 10px;
}

.boards {
  display: flex;
  flex-wrap: wrap;
  width: 605px;
  margin-left: 30px;
}

.board {
  color: #666;
  font-size: 12px;
  letter-spacing: -1px;
  width: 295px;
  height: 194px;
  margin: 2.5px;
  background-color: #FFFFFF;
}

.board h3 {
  padding: 10px;
}

.board h3 a {
  color: #c62917;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

.list {
  border-top: 1px solid #e3e3e3;
  display: flex;
  padding: 10px;
}

.time {
  margin-left: auto;
  color: #4c4c4c;
  height: 17px;
  line-height: 18px;
  color: #a6a6a6;
  font-size: 11px;
  letter-spacing: 0;
}

.list .board-title {
  height: 17px;
  line-height: 18px;
  color: #4c4c4c;
  text-overflow: ellipsis;
  font-size: 14px;
}

.message {
  padding: 10px 30px 10px 10px;
  border-top: 1px solid #e3e3e3;
}

.message-title {
  font-size: 14px;
  color: #292929;
  font-weight: bold;
  padding: 0px !important;
  margin-bottom: 5px;
}

.content {
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  color: #4c4c4c;
  font-size: 13px;
}
