.aside {
  width: 226px;
}

.mypage-title {
  margin-bottom: 5px;
  padding: 25px;
  border: 1px solid #d6d6d6;
  background-color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.sidebar {
  border: 1px solid #d6d6d6;
}

.sidebar a {
  display: block;
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  color: #737373;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.head {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.a-1, .a-2, .a-3, .a-4, .a-5, .a-6, .a-7, .a-8, .a-9 {
  display: flex;
  margin: auto;
  padding: 15px 20px;
  border-top: 1px solid #d6d6d6;
}

.logout {
  margin-left: auto;
  color: #737373;
  font-size: 12px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 8px;
}

.label {
  line-height: 20px;
  color: #737373;
  font-size: 13px;
  font-weight: bold;
  text-align: right;
  width: 90px;
}

.data, .textarea {
  line-height: 20px;
  color: #292929;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0;
  margin-left: 20px;
}

.article {
  margin-left: 25px;
  width: 574px;
  border: 1px solid #d6d6d6;
  border-top: none;
}

.photo {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.check {
  border: none;
  disabled;
}

input {
  margin-left: 20px;
}

input:focus {
  border-color: #6FE9B9;
}

.submit {
  margin-left: auto;
  background: none;
  border: none;
  color: white;
  background-color: #C62917;
  padding: 7px 10px;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}

.btn2 {
  margin-left: 5px;
}

.info {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #d6d6d6;
  color: #292929;
  font-size: 14px;
}

.info:focus {
  border-color: #c62917;
  border: 0;
}

.a-7 .self {
    width: 95px;
    margin-right: 40px;
    margin-left: 7px;

    
}

.ck {
  flex: 1 1 0;
}

#editor {
  display: none;
}

.self-introduce-text {
  white-space: pre-wrap;
  margin-left: 20px;
  font-size: 14px;
  line-height: 20px;
}