@import 'master.css';

.lecturetable th, td {
  padding: 15px 10px; 
}

.fa-folder-plus, .fa-trash-alt, .fa-edit{
  color: #C62917;
}

.lecturetable {
  margin: 25px auto;
  width: 100%;
  border: 1px solid #d6d6d6;
}

.lecturetable tr:last-child {
  display: none;
}

.lecturetable tbody{
  text-align: center;
}

.lecturetable th {
  font-weight:bold;
}

.lecturetable tr {
  border-bottom: 1px solid #d6d6d6;
  font-weight: 500;
}

.button-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.lecture-add {
  background: none;
  border: 1px solid #C62917;
  padding: 5px 10px;
  border-radius: 8px;
}

.hover-big:hover {
  transform: scale(1.1);
}

.hover:hover {
  transform: scale(1.08);
}

i {
  cursor:pointer;
}