@import 'master.css';

form {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  background: white;
  box-shadow: 0 1px 3px rgba(234, 234, 234, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  width: 100%;
  height: 700px;
}

.label {
  font-weight: bold;
  padding-left: 0;
  padding-bottom: 7px;
}

.textBottom {
  margin-bottom: 20px;
  height: 30px;
  font-size: 15px;
  box-sizing: border-box;
}

.updateBtn {
  margin-left: auto;
  margin-right: 20px;
  width: 100%;
  height: 30px;
  background-color: #C62917;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 20px;
  border-radius: 6px;
  cursor: pointer;
}

.addBtn {
  margin-left: auto;
  margin-right: 20px;
  width: 100%;
  height: 30px;
  background-color: #C62917;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 20px;
  border-radius: 6px;
  cursor: pointer;
}

.cancle-back {
  text-decoration: none;
  text-align: center;
  padding: 3px 5px;
  background-color: white;
  border-radius: 5px;
  color: #C62917;
  border: 1px solid #C62917;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

input:focus, .textBottom:focus {
  outline: none;
  border: 1px solid #C62917;
}

.text:read-only {
  box-sizing: border-box;
  cursor: not-allowed;
  margin-bottom: 20px;
  padding-left: 10px;
}

#phoneNumber {
  padding-left: 10px;
}

.day {
  display: flex;
}

.dayupdate {
  display: flex;
}

input[type=radio]:checked+label {
  color: white;
  background-color: #c62917;
}

input[type=radio] {
  display: none;
}

.day label {
  color: #c62917;
  font-size: 14px;
  padding: 5px 10px 10px 10px;
  border: 1px solid #c62917;
  width: 20px;
  height: 15px;
  line-height: 20px;
  margin: 10px 0px 5px 20px;
}

.dayupdate label {
  color: #c62917;
  font-size: 14px;
  padding: 5px 10px 10px 10px;
  border: 1px solid #c62917;
  width: 20px;
  height: 15px;
  line-height: 20px;
  text-align: center;
}

select {
  /* General styling */
  height: 30px;
  border-radius: 0;
  padding-left: 3px;
  font-size: 15px;
  font-weight: 400 !important;
  /* Removes the default <select> styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Positions background arrow image */
  background-image:
    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: 99%;
}

.day-time {
  display: flex;
}

.day-time select {
  flex: 1 1 0;
  height: 32px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label {
  color: #a6a6a6;
}

input[type=checkbox]:checked+label {
  color: #c62917;
}

input::placeholder {
  color: #737373;
  font-weight: 400;
  font-size: 15px;
}

input[type=text], input[type=email] {
  height: 30px;
  margin-bottom: 20px;
}

.deptname {
  margin-bottom: 40px;
}

.citeAdmin {
  margin-bottom: 20px;
}

.totalAdmin {
  display: flex;
}

.deptAdmin {
  margin-left: 4px;
}

i {
  margin-top: 10px;
}